
# Eclipse
.metadata/
.settings/
.classpath
.project

# IntelliJ IDEA
.idea/
*.iml
out/

# Build
build/
target/
src/main/webapp/WEB-INF/classes/

# Java
*.class

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Tomcat Runner
TomcatRunner.java
tomcat.8080/
jakarta.servlet-api.jar